.card {
  min-height: 180px;
  width: 200px;
  border-radius: 5px;
  position: relative;

  border: 1px solid;
  overflow: hidden;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.card_header {
  padding: 10px;
  font-weight: var(--font-bold);
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

.card_bottom_row {
  display: flex;
  justify-content: space-between;
}

.associated_card {
  display: flex;
  color: #ffffff;
}

.associated_card > span {
  border-radius: 5px 0 0 0;
  font-weight: var(--font-bold);
  padding: 5px;
  font-size: 10px;
  align-self: flex-end;
}

.info_row {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: space-between;
}

.card_cost {
  display: flex;
  flex: auto;
}

.card_cost_item {
  padding: 5px;
}

.card_description {
  padding: 10px 5px 5px 5px;
  font-size: 12px;
  line-height: 1.5em;
}

.card_cost_value {
  font-size: 14px;
}

.rarity_label {
  padding: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: var(--font-bold);
  color: var(--text-color-light);
}

.circle {
  border-radius: 99px;
  width: 24px;
  height: 24px;
  margin: 6px;

  text-align: center;
  font-size: 27px;
}

.card_header_vp {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.card_header_vp_number {
  font-size: 15px;
  font-weight: var(--font-bold);
  display: inline-block;
  margin-top: -14px;
  vertical-align: middle;
  color: #3c1346;
}

.card_header_symbol {
  position: absolute;
  top: 0;
  z-index: 10;
}

.color_victory_point {
  background: #e3b117;
}

.color_destination {
  background: #943032;
}

.color_production {
  background: #88a55e;
}

.color_prosperity {
  background: #534279;
}

.color_traveler {
  background: #796a53;
}

.color_governance {
  background: #476f80;
}

.color_destination_gradient {
  background: linear-gradient(111.09deg, #c26473 -23.53%, #431f24 116.69%),
    linear-gradient(0deg, #b84a5b, #b84a5b);
}

.played_card_wrapper {
  padding: 10px;

  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.played_card_card > div {
  margin: auto;
}

.played_card_meta > p {
  margin: 5px 0;
  font-size: 10px;
}
