.resource_input {
  width: 100px;
  height: 30px;
  display: flex;
}

.resource_icon {
  margin: 4px;
  width: 20px;
  height: 20px;
  position: relative;
}

.resource_input_el {
  width: 60px;
  border-radius: 5px;
}

.resource_input_list {
  display: flex;
}

.card_payment_form {
  border: solid 1px black;
  border-radius: 5px;
  padding: 20px 10px 10px 10px;
  margin: 0px;
  width: 500px;
}

.associated_card {
  padding-bottom: 15px;
}
