.container {
  height: 180px;
  width: 200px;
  border-radius: 5px;
  position: relative;

  border: 1px solid #bbb;
  box-shadow: 1px 1px #eee;
  overflow: hidden;
  margin: 10px;
}

.card_header {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

.associated_card {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  border-radius: 5px 0 0 0;
  font-weight: 700;
  color: #ffffff;
}

.circle {
  border-radius: 99px;
  width: 24px;
  height: 24px;
  margin: 6px;

  text-align: center;
  font-weight: normal;
  font-size: 27px;
  color: #000000;
}

.card_header_vp {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.card_header_vp_number {
  font-size: 15px;
  font-weight: 800;
  display: inline-block;
  margin-top: -16px;
  vertical-align: middle;
  color: #5a4607;
}

.card_header_symbol {
  position: absolute;
  top: 0;
  z-index: 10;
}

.color_victory_point {
  background: #e3b117;
}

.color_destination {
  background: #943032;
}

.color_production {
  background: #88a55e;
}

.color_prosperity {
  background: #534279;
}

.color_traveler {
  background: #796a53;
}

.color_governance {
  background: #476f80;
}

.rarity_label {
  bottom: 0;
  left: 0;
  position: absolute;

  padding: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.color_destination_gradient {
  background: linear-gradient(111.09deg, #c26473 -23.53%, #431f24 116.69%),
    linear-gradient(0deg, #b84a5b, #b84a5b);
}

.card_cost_row {
  height: 20px;
  padding: 5px;
}

.card_cost_icon {
  height: 22px;
  width: 22px;
  position: relative;
  display: inline-block;
}

.card_cost_value {
  vertical-align: super;
  font-size: 14px;
  font-weight: 500;
}

.played_card_wrapper {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.played_card_card > div {
  margin: auto;
}

.played_card_meta > p {
  margin: 5px 0;
  font-size: 10px;
}
