.title {
  font-family: var(--font-cursive);
  font-weight: var(--font-bold);
  font-size: 30px;
  align-self: self-start;
}

.block {
  padding: 10px;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.em_part {
  font-weight: var(--font-bold);
}

.i_part {
  font-style: italic;
  font-size: 0.8em;
}

.entity_part {
  border-bottom: solid 1px var(--text-color-light);
  font-weight: var(--font-bold);
}

.player_part {
  border-bottom: solid 1px var(--text-color-light);
}

.resource {
  display: inline-block;
  margin-top: -10px;
}

.points {
  background: var(--color-vp);
  width: 22px;
  height: 22px;
  margin-right: 2px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.points span {
  font-weight: var(--font-bold);
  color: var(--color-vp-text);
  display: inline-block;
  font-size: 12px;
  text-align: center;
}

.resource_inner {
  height: 20px;
  width: 20px;
  top: 5px;
  position: relative;
  display: inline-block;
}

.item_wrapper {
  margin: 5px 5px 5px 5px;
}

.item_highlighted {
  opacity: 0.3;
}
