.title {
  font-family: "Allura", cursive;
  font-weight: 800;
  font-size: 30px;
}

.block {
  padding: 0 0.5rem;
  margin: 10px;
  max-width: 100%;
}

.resource {
  display: inline-block;
  margin-top: -10px;
}

.resource_inner {
  height: 20px;
  width: 20px;
  top: 5px;
  position: relative;
  display: inline-block;
}

.item_wrapper {
  margin: 10px 10px 0px 0px;
}

.item_disabled {
  opacity: 0.3;
}
