.title {
  font-family: var(--font-cursive);
  font-weight: var(--font-bold);
  font-size: 30px;
}

.block {
  padding: 0.5rem;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.resource {
  display: inline-block;
  margin-top: -10px;
}

.resource_inner {
  height: 20px;
  width: 20px;
  top: 5px;
  position: relative;
  display: inline-block;
}

.item_wrapper {
  margin: 10px 10px 0px 0px;
}

.item_disabled {
  opacity: 0.3;
}
