.event {
  min-height: 100px;
  width: 220px;
  border-radius: 5px;

  box-shadow: 1px 1px;
  border: solid 2px;
  background-color: #ddcf9d;

  margin: 10px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;
  position: relative;
}

.event_basic {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.event_basic div {
  width: 22px;
  height: 22px;
}

.event_row {
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
}

.event_header {
  font-weight: bold;
  font-size: 12px;
}

.vp {
  position: absolute;
  right: -18px;
  top: -18px;

  border-radius: 99px;
  width: 35px;
  height: 35px;
  margin: 6px;

  background: url("/images/vp.png");
  background-repeat: no-repeat;
  background-position: center;
}

.vp_number {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}
