.event {
  min-height: 100px;
  width: 200px;
  border-radius: 5px;

  border: 1px solid #bbb;
  box-shadow: 1px 1px #eee;
  border: solid 2px #682c1e;

  overflow: hidden;
  margin: 10px;

  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
}

.event_row {
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
}

.event_header {
  font-weight: bold;
  font-size: 12px;
}
