.items {
  margin-left: -10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.radio_item {
  margin-right: 10px;
}

.items_no_wrap {
  margin-left: -10px;
  display: flex;
}

.empty_city {
  font-size: 14px;
  padding: 20px 0;
}

.location_items {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}

.game_board {
  display: flex;
}

.forest_locations {
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

.item_footer_text {
  margin: 10px;
  font-weight: var(--font-bold);
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}
