.items {
  margin-left: -10px;
  display: flex;
  flex-flow: row wrap;
}

.event_items {
  margin-left: -10px;
  display: flex;
}

.event_items_col {
  display: flex;
  flex-direction: column;
}

.radio_item {
  cursor: pointer;
  margin-right: 10px;
}

.items_no_wrap {
  margin-left: -10px;
  display: flex;
}

.empty_city {
  font-size: 14px;
  padding: 20px 0;
}

.location_items {
  margin-left: -10px;
  display: flex;
  flex-flow: row wrap;
  width: 840px;
}

.game_board {
  display: flex;
}

.forest_locations {
  height: 100%;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
}

.forest_locations > div {
  min-height: 120px;
}

.clickable {
  cursor: pointer;
}

.item_footer_text {
  margin: 10px;
  font-weight: var(--font-bold);
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.locations_and_events {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}
