.items {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  width: 880px;
}

.empty_city {
  font-size: 14px;
  padding: 20px 0;
}

.location_items {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}

.game_board {
  display: flex;
}

.forest_locations {
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
