.logs {
  display: flex;
  flex-direction: column;
  width: 500px;

  margin: 10px 0;
  border-radius: 5px;
  border: solid 2px;
  font-size: 14px;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.logs_height {
  height: 150px;
}

.log {
  padding: 5px;
  display: flex;
}

.log_prefix {
  font-weight: var(--font-bold);
  font-family: var(--font-mono);
  margin-right: 10px;
}
