.button {
  background-color: inherit;
  color: inherit;
  border: solid 2px;
  width: 100px;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.input_type_radio {
  margin-top: 10px;
}

.input_type_form_nested {
  margin: 20px;
}

.play_card_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.play_card_list_item_wrapper {
  position: relative;
  margin-bottom: 10px;
}

.play_card_list_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.play_card_list_item_selected {
  opacity: 0.5;
}
