.selector {
  padding: 20px;
}

.play_card_list {
  display: flex;
  flex-wrap: wrap;
}

.play_card_list_item_wrapper {
  position: relative;
  margin-bottom: 20px;
}

.play_card_list_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.play_card_list_item_selected {
  opacity: 0.5;
}

.card_selected_overlay_check {
  top: -5px;
  left: -5px;
  position: absolute;
  border-radius: 99px;
  background-color: white;
  border: solid 4px black;
  z-index: 20;
  font-size: 18px;
  padding: 6px 8px;
}

.play_card_list_item_label {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.resource_type_value_input_wrapper {
  width: 100px;
  height: 30px;
  display: flex;
}

.resource_type_value_input_icon {
  margin: 4px;
  width: 20px;
  height: 20px;
  position: relative;
}

.resource_type_value_input_input {
  width: 60px;
  border-radius: 5px;
}

.resource_type_value_list {
  display: flex;
}

.card_payment_form {
  border: solid 1px black;
  padding: 0px 10px 10px 10px;
  width: 500px;
}
