:root {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New",
    Courier, monospace;
  --font-cursive: "Allura", cursive;
  --font-bold: 600;
  --bg-color: #ffffff;
  --text-color: #2b2c1a;
  --border-color: #1a1a1a;
  --text-color-inv: #ffffff;
  --text-color-light: #bbb;

  --color-vp: #e3b117;
  --color-vp-text: #3c1346;
  --color-dest: #943032;
  --color-prod: #88a55e;
  --color-pros: #534279;
  --color-trav: #796a53;
  --color-gov: #476f80;
  --color-loc: #13463c;

  --color-loc-basic: #88a55e;
  --color-loc-forest: #4e5627;
  --color-loc-haven: #ddcf9d;
  --color-loc-journey: #bb9e66;
  --border-color-evt: #91894e;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fcfdfd;
    --text-color-light: #c6d7df;
    --text-color-inv: #fdf6e3;
    --bg-color: #23363f;

    --border-color: #111a1e;
    --border-color-evt: var(--border-color);

    --color-vp: #775d0d;
    --color-vp-text: #d5d7d8;
    --color-dest: #541b1c;
    --color-prod: #384426;
    --color-pros: #433663;
    --color-trav: #3d352a;
    --color-gov: #29404a;
    --color-loc: #d5d7d8;

    --color-loc-basic: #4e5627;
    --color-loc-forest: #4e5627;
    --color-loc-haven: #4e5627;
    --color-loc-journey: #4e5627;
  }
}*/

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: var(--font-sans);
  background-color: var(--bg-color);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 1em 0;
  padding: 0;
}

button {
  font-family: var(--font-sans);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
