.location {
  height: 100px;
  width: 200px;
  border-radius: 5px;

  border: 1px solid;

  overflow: hidden;
  color: #13463c;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location_wrapper {
  margin: 10px;
}

.location_workers {
  width: 180px;
  margin: 10px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.location_worker {
  font-weight: bold;
}

.location_name {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  word-wrap: break-word;
}

.color_basic.location {
  border: solid 2px #88a55e;
}

.color_forest.location {
  border: solid 2px #4e5627;
}

.color_haven.location {
  border: solid 2px #ddcf9d;
}

.color_journey.location {
  border: solid 2px #bb9e66;
}

.location_type {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  margin: 5px;
}

.location_center {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.not_accepting_workers {
  opacity: 0.3;
}
