.status_box {
  height: 100px;
  width: fit-content;
  border: solid 1px var(--border-color);
  display: flex;
  margin: 5px 0;
  border-radius: 5px;
}

.status_box_item {
  padding: 5px;
}

.status_box_city {
  padding: 5px;
}

.status_box_bio {
  padding: 3px;
  padding-right: 0;
  display: flex;
  height: 100%;
  width: 150px;
  flex-direction: column;
  justify-content: space-between;
}

.status_box_bio_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status_box_bio_meta {
  display: flex;
}

.status_box_bio_pill {
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  margin-bottom: 2px;
  margin-right: 2px;
  border-radius: 15px;
  border: solid 2px var(--border-color);
  font-weight: var(--font-bold);
}

.pill_WINTER {
  background-color: #cdecff;
  color: #00449e;
  border: solid 2px #00449e;
}

.pill_SPRING {
  background-color: #e8fdf5;
  color: #19a974;
  border: solid 2px #19a974;
}
.pill_SUMMER {
  background-color: #fbf1a9;
  color: #ff6300;
  border: solid 2px #ff6300;
}
.pill_AUTUMN {
  background-color: #f1efeb;
  color: #796a53;
  border: solid 2px #796a53;
}

.pill_game_ended {
  color: #999;
  border: solid 2px #999;
  background-color: #eee;
}

.status_box_bio_name {
  padding-top: 4px;
  font-weight: var(--font-bold);
}

.status_box_bio_season {
  text-transform: uppercase;
}

.status_box_bio_meta {
  font-weight: var(--font-bold);
}

.status_box_item_resource_list {
  height: 100%;
  display: flex;
  padding: 0 5px;
  border-left: solid 1px var(--border-color);
}

.status_box_item_resource {
  padding: 0 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.status_box_item_resource_label {
  min-width: 25px;
  text-align: center;
  height: 25px;
  padding-top: 4px;
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  font-weight: var(--font-bold);
}

.status_box_item_resource_ticket_status {
  display: inline-block;
  font-size: 10px;
  word-wrap: break-word;
  text-align: center;
  height: 20px;
  max-width: 70px;
}

.status_box_item_resource_icon svg {
  padding-top: 4px;
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

.status_box_item_resource_icon {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  font-weight: var(--font-bold);
}

.status_box_item_resource_ticket_wrapper {
  width: 25px;
  height: 25px;
  overflow: visible;
}

.status_box_item_resource_ticket {
  width: 35px;
  height: 35px;
  margin-top: -5px;
  margin-left: -5px;
  position: relative;
  display: inline-block;
}

.status_box_item_resource_count {
  display: inline-block;
  font-size: 15px;
  text-align: center;
  min-height: 18px;
}
