.status_box {
  height: 100px;
  width: fit-content;
  border: solid 1px black;
  display: flex;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.viewer_status_box {
  cursor: auto;
}

.status_box_item {
  padding: 5px;
}

.status_box_bio {
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 120px;
  justify-content: space-between;
}

.status_box_bio_name {
  padding-top: 4px;
  font-weight: 800;
}

.status_box_bio_season {
  color: #ccc;
  text-transform: capitalize;
}

.status_box_bio_meta {
  font-weight: 800;
}

.status_box_item_resource_list {
  height: 100%;
  display: flex;
  padding: 0 5px;
  border-left: solid 1px black;
}

.status_box_item_resource {
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.status_box_item_resource_label {
  min-width: 30px;
  text-align: center;
  height: 30px;
  padding-top: 4px;
  position: relative;
  display: inline-block;
  font-weight: 800;
}

.status_box_item_resource_icon {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  font-weight: 800;
}

.status_box_item_resource_count {
  display: inline-block;
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
}
