.resin {
  height: 113.56726876182155px;
  width: 126.0399708310474px;

  background: linear-gradient(
      33.28deg,
      #fffcba 19.66%,
      rgba(255, 255, 255, 0) 35.59%
    ),
    radial-gradient(
      27.32% 27.32% at 68.55% 19.5%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ea8448;
  border-radius: 6px;
  transform: rotate(0.84deg);
}

.twig {
  height: 23px;
  width: 114;
  border-radius: 5px;

  background: linear-gradient(180deg, #3c1c1e 0%, #ab6f56 100%),
    linear-gradient(180deg, #c18e78 0%, #90513a 100%), #682c1e;
  border-radius: 5px;
  transform: rotate(-30.64deg);
}

.pebble {
  height: 50px;
  width: 103px;
  border-radius: 0px;

  background: linear-gradient(
      168.1deg,
      #b3bfb1 -3.65%,
      rgba(85, 88, 84, 0) 121.01%
    ),
    #868b86;
  transform: rotate(-33.15deg);
}

.berry {
  height: 44px;
  width: 44px;
  border-radius: 0px;

  background: radial-gradient(
      71.59% 71.59% at 75% 15.91%,
      #f4d0e9 1.56%,
      #d476c3 31.77%,
      #a12e7c 71.35%,
      #ed58a1 100%
    ),
    #bf64ab;
}
